<%- include('header') -%>

<div class="text-center center-div mt-5" id="login">
    <div class="container w-25 border py-5 mt-5">
        <h3>Vous êtes bien enregistré !!</h3>
        
        
        <a href="/route/logout">Connectez vous</a>
    </div>
</div>

<%- include('footer') -%>